@(item: Item)
<!DOCTYPE html>
<html lang="en">
<span class="bckg"></span>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mainPage.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/searchbar.css")">
<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>

</head>
<header>
  <h1>ULook</h1>
  @navigator()
</header>
<body>
<main>
  <div class="title">
    <h2>Details</h2>
    <a href="javascript:void(0);">Sign out</a>
   </div>
   <div class="container-fluid ">
   
   <div class="card details mt-5 ml-10">
   <div class="text-center">
      <img class="card-img-top" src="@routes.Assets.versioned(item.getPicture())" >
      </div>
         <h1 class="card-title mt-2">@item.getName()</h1>
         <p class="card-text">@item.getType()</p>
         <h1 class="card-title mt-2">Price $@item.getPrice</h1>
         <a href="#" class="btn btn-secondary">Add to Outfit</a>
         <a href="@routes.HomeController.addToFavourite(item.getName())" class="btn btn-success">Save</a>
         <a href="@item.getBrand()"><h1 class="card-title mt-2">Go to their website</h1></a>
   </div>
   

   </div>
</main>

</body>

</html>