@(item: Item)
<!DOCTYPE html>
<html lang="en">
<span class="bckg"></span>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mainPage.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/searchbar.css")">
<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>

</head>
<header>
  <h1>ULook</h1>
  @navigator()
</header>
<body>
<main>
  <div class="title">
    <h2>Details</h2>
    <a href="javascript:void(0);">Sign out</a>
   </div>
   <div class="container-fluid ">
   
   <div class="card details mt-5 ml-2">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-block">
         <h4 class="card-title">@item.getName()</h4>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#" class="btn btn-secondary">Add to Outfit</a>
      </div>
   </div>
   

   </div>
</main>

</body>

</html>