@(images: Map[String,String])
<!DOCTYPE html>
<html lang="en">
<span class="bckg"></span>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mainPage.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/searchbar.css")">
<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>

</head>
<header>
  <h1>ULook</h1>
  @navigator()
</header>
<body>
<main>

  <div class="title">
    <h2>Get Inspired!</h2>
    <a href="javascript:void(0);">Sign in</a>
   </div>
   <div class="container-fluid">
   <div class="card mt-2">
      <div>
         <img class="img-valign mt-2 mb-2 ml-2" src="@routes.Assets.versioned("images/insta.png")" height="60" width="60">
         <span><strong>Outfit of the Day! #OOTD</strong></span>
      </div>
   </div>
   
      <div class="row mt-4 ml-5 mb-4 mr-1">
         @for((name,image) <- images){
         <div class="col-sm-4 mb-5">
            <div class="card mr-5">
               <div class="text-center mt-4 mb-3">
                  <a href="#"><img src="@routes.Assets.versioned(image)" height="500" width="400"></a>
               </div> 
               <div class="card-block">
                  <h4 class="card-title ml-4">@name</h4>
               </div>
            </div>
        </div>
        }
      </div>
   </div>

</main>

</body>

</html>