
<!DOCTYPE html>
<html lang="en">
<span class="bckg"></span>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mainPage.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/searchbar.css")">
<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>

</head>
<header>
  <h1>ULook</h1>
  @navigator()
</header>
<body>
<main>
  <div class="title">
    <h2>Home</h2>
    <a href="javascript:void(0);">Sign out</a>
   </div>
   <div class="container-fluid">

  <div class="card-group mt-5">
  <div class="card ml-2">

<div class="text-center">
<a href="#"><img class="mt-2 mb-2" src="@routes.Assets.versioned("images/hatslot.jpg")" height="200" width="200"></a>
<a href="#"><img class="mt-2 mb-2" src="@routes.Assets.versioned("images/shirtslot.jpg")" height="200" width="200"></a>
<a href="#"><img  class="mt-2 mb-2"src="@routes.Assets.versioned("images/pantsslot.jpg")" height="200" width="200"></a>
<a href="#"><img class="mt-2 mb-2" src="@routes.Assets.versioned("images/shoeslot.jpg")" height="200" width="200"></a>
</div> 
  </div>
  <div class="card">
    <div class="card-block">
      <h4 class="card-title mt-3">Get Started With Your Outfit!</h4>
      <p class="card-text">Click on an icon to start searching for apparel in that category!</p>
    </div>
  </div>

</div>
   </div>
   
   
   
   </div>
</main>

</body>

</html>