
<!DOCTYPE html>
<html lang="en">
<span class="bckg"></span>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mainPage.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/searchbar.css")">
<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>

</head>
<header>
  <h1>ULook</h1>
  @navigator()
</header>
<body>
<main>
  <div class="title">
    <h2>Home</h2>
    <a href="@routes.HomeController.signInPage()">Sign out</a>
   </div>
   <div class="container-fluid">

  <div class="card-deck mt-5 ml-5 mr-5">
  <div class="card ml-5 mr-5">

<div class="text-center">
<h1 class="card-title">Your Outfit Silhouette</h1>
<a href="@routes.HomeController.search("Hats")"><img class="mt-2 mb-2" src="@routes.Assets.versioned("images/hatslot.jpg")" width="150"></a>
<a href="@routes.HomeController.search("Tops")"><img class="mt-2 mb-2" src="@routes.Assets.versioned("images/shirtslot.jpg")"  width="200"></a>
<a href="@routes.HomeController.search("Bottoms")"><img  class="mt-2 mb-2"src="@routes.Assets.versioned("images/pantsslot.jpg")" width="150"></a>
<a href="@routes.HomeController.search("Shoes")"><img class="mt-2 mb-2" src="@routes.Assets.versioned("images/shoeslot.jpg")"  width="200"></a>
</div> 
  </div>
  <div class="card ml-5 mr-5">
    <div class="card-block">
      <h1 class="card-title ">Get Started With Your Outfit!</h1>
      <h2 class="card-text">Click on an icon to start searching for apparel in that category!</h2>
      <h1 class="card-title ">Adding to your Outfit</h1>
      <div class="text-center">
         <img  class="mt-2 mb-2"src="@routes.Assets.versioned("images/add.jpg")" width="400"></a>
      </div>
      <h2 class="card-text">The Add to Outfit button adds the Item to your custom silhouette in the sidebar</h2>
            <div class="text-center">
         <img  class="mt-2 mb-2"src="@routes.Assets.versioned("images/help.png")" width="120"></a>
      </div>
      <h2 class="card-text">The Save button below the silhouette saves the outfit to My Outfits</h2>
    </div>
  </div>

</div>
   </div>
   
   
   
   </div>
</main>

</body>

</html>