


 <span class="bckg"></span>
<header>

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/myItems.css")"">

  <h1>ULook</h1>
  <nav>
    <ul>
      <li>
        <a href="javascript:void(0);">Get inspired</a>
      </li>
      <li>
        <a href="@routes.HomeController.recommend" data-title="Team">Recommended</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Diary">My items</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Timeline">My Outfits</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Settings">Search</a>
      </li>
      <li>
         <input class = "dummy" type="image" src="@routes.Assets.versioned("images/man.png")" />
      </li>

    </ul>
  </nav>
</header>
<main>





  <div class="title">
    <h2>My Items</h2>
    <a href="javascript:void(0);">Sign out</a>
  </div>
  <select class = "sort">
  <option  value="volvo">Price</option>
  <option  value="saab">Alphabetical</option>
</select>
<ul>
   <li class = "items">Boot</li>
   <li class = "items">Chuck Taylors</li>
   <li class = "items">Nike Roshe</li>
 </ul>
<div class>
      <ul class = "parent">
         <img class ="shoes" src = "@routes.Assets.versioned("images/boot.jpg")" height ="230" width = "230"></img>
            <a><img class ="fav" src = "@routes.Assets.versioned("images/star.png")" height ="30" width = "30"></img></a>
         <img class ="shoes" src = "@routes.Assets.versioned("images/chucks.jpg")" height ="230" width = "230"></img>
            <a><img class ="fav" src = "@routes.Assets.versioned("images/star.png")" height ="30" width = "30"></img></a>
         <img class ="shoes" src = "@routes.Assets.versioned("images/roshe.jpg")" height ="230" width = "230"></img>
            <a> <img class ="fav" src = "@routes.Assets.versioned("images/star.png")" height ="30" width = "30"></img></a>
      </ul> 
      <ul class = "container one">
         <button class = "add" type="button">Add To Outfit</button>
            <a href ="#" class = "tooltip">
            <img src = "@routes.Assets.versioned("images/info.png")" height="25" >
            <span><ul><li>Price - $120  </li>
            <li>Material - Leather  </li>
            </ul></span></a>
      </ul><ul class = "container two">
         <button class = "add" type="button">Add To Outfit</button>
            <a href ="#" class = "tooltip">
            <img src = "@routes.Assets.versioned("images/info.png")" height="25" >
            <span><ul><li>Price - $60</li>
            <li>Material - Cloth</li>
            </ul></span></a>
      </ul><ul class = "container three">
         <button class = "add" type="button">Add To Outfit</button>
            <a href ="#" class = "tooltip">
            <img src = "@routes.Assets.versioned("images/info.png")" height="25" >
            <span><ul><li>Price - $70</li>
            <li>Material - Mesh</li>
            </ul></span></a>
      </ul>
   
</div>
</main>
