@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@


 <span class="bckg"></span>
<header>

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/myItems.css")">
  <h1>Ulook</h1>
  <nav>
    <ul>
      <li>

        <a href="javascript:void(0);" data-title="Projects">Get inspire</a>
      </li>
      <li>
        <a href="@routes.HomeController.recommend" data-title="Team">Recommended</a>
      </li>
      <li>
        <a href="@routes.HomeController.myItems()" data-title="Diary">My items</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Timeline">My Outfits</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Settings">Search</a>
      </li>

    </ul>
  </nav>
</header>
<main>

  <div class="title">
    <h2>Welcome to ULook!</h2>

    <a href="javascript:void(0);">Sign in</a>
  </div>

  <article class="larg">
      <form class="search" action="">
<input type="search" placeholder="Search here..." required>
<button type="submit">Search</button>
</form>
    <div>
      <h3> <input type="checkbox"/><img src="@routes.Assets.versioned("images/boot.jpg")"width="140" height="200"><span class="entypo-down-open">Leather Boot<a href ="#" class = "tooltip">
            <img src = "@routes.Assets.versioned("images/info.png")" height="25" >
            <span><ul><li>Price - $200 </li>
            <li>Material - Leather  </li>
            <li>Sizes: 7-9 </li>
            </ul></span></a></span>
           
      </h3>
      <button class = "add" type="button">Add To Outfit</button>

      <p>xxx.</p>

    </div>
    <div>
      <h3> <input type="checkbox"/><img src="@routes.Assets.versioned("images/chucks.jpg")"width="140" height="200"> <span class="entypo-down-open">Chucks<a href ="#" class = "tooltip">
            <img src = "@routes.Assets.versioned("images/info.png")" height="25" >
            <span><ul><li>Price - $90 </li>
            <li>Material - Canvas  </li>
            <li>Sizes: 6-12 </li>
            </ul></span></a></span></h3>
            
      <button class = "add" type="button">Add To Outfit</button>
    
      <p>xxx.</p>
        
    </div>
    <div>
      <h3> <input type="checkbox"/><img src="@routes.Assets.versioned("images/roshe.jpg")"width="140" height="200"><span class="entypo-down-open">Nike Roshe<a href ="#" class = "tooltip">
            <img src = "@routes.Assets.versioned("images/info.png")" height="25" >
            <span><ul><li>Price - $90 </li>
            <li>Material - Mesh  </li>
            <li>Sizes: 6-10 </li>
            </ul></span></a></span></h3>
            
      <button class = "add" type="button">Add To Outfit</button>
      <p>xxx.</p>
    </div>
  </article>

</main>