@(occasion: List[String],outfits :List[Outfit])
<!DOCTYPE html>
<html lang="en">
<span class="bckg"></span>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mainPage.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/searchbar.css")">
<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>

</head>
<header>
  <h1>ULook</h1>
  @navigator()
</header>
<body>
<main>

  <div class="title">
    <h2>My Outfits</h2>
    <a href="@routes.HomeController.signInPage()">Sign out</a>
   </div>
   <div class="container-fluid">
   </div>
   

   
      <div class="row mt-4 ml-5 mb-4 mr-1">
       @for(outfit<- outfits){
        <div class="col-sm-4 mb-5">
         <div class="card mr-5">
            <div class="text-center">
               <a href="#"><img src="@routes.Assets.versioned(outfit.getHat())" height="120" width="120"></a>
                  <a href="#"><img src="@routes.Assets.versioned(outfit.getTop())" height="120" width="120"></a>
                  <a href="#"><img src="@routes.Assets.versioned(outfit.getBottom())" height="120" width="120"></a>
                  <a href="#"><img src="@routes.Assets.versioned(outfit.getShoes())" height="120" width="120"></a>
            </div> 
            <div class="card-block">
               <h4 class="card-title ml-2">@outfit.getName()</h4>
               <button type="button" class="btn btn-secondary ml-3">Edit</button>
                <a href="@routes.HomeController.deleteFromOutfit()" >
               <button type="button" class="btn btn-danger float-right mr-2" >Delete</button>
               </a>

            </div>
            <a href="#" class="ml-2"><img src="@routes.Assets.versioned("images/share.png")" height="50" width="150"></a>
         </div>
         </div>
         }
      </div>


</main>

</body>

</html>
