@(out:List[Item])
<!DOCTYPE html>
<html lang="en">
<span class="bckg"></span>
<head>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mainPage.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/searchbar.css")">
<script src="@routes.Assets.versioned("bootstrap/js/bootstrap.js")"></script>

</head>
<header>
  <h1>ULook</h1>
  @navigator()
</header>
<body>
<main>

  <div class="title">
    <h2>My Outfits</h2>
    <a href="@routes.HomeController.signInPage()">Sign out</a>
   </div>
   <div class="container-fluid">
   </div>
   

   
      <div class="row mt-4 ml-5 mb-4 mr-1">
       
        <div class="col-sm-4 mb-5">
         <div class="card mr-5">
            <div class="text-center">
           
            </div> 
            <div class="card-block">
               <h4 class="card-title ml-2">My Outfit</h4>
            
               <div class="card">
               <div class="text-center">
               @for(item<-out){ 
                <a href="@routes.HomeController.details(item.getName())"><img src="@routes.Assets.versioned(item.getPicture())" height="200" width="200"></a>
                }
                </div> 
                </div>
                <a href="@routes.HomeController.deleteFromOutfit()" >
               
               <button type="button" class="btn btn-danger float-right mr-2" >Delete</button>
               </a>

            </div>
            
         </div>
         </div>
         
      </div>


</main>

</body>

</html>
