  <nav>
   
    <ul>
      <li>
        <a href="@routes.HomeController.goMainPage()" data-title="Projects">Home</a>
      </li>
      <li>
        <a href="@routes.HomeController.getInspired()" data-title="Projects">Get Inspired!</a>
      </li>
      <li>
        <a href="@routes.HomeController.recommend()" data-title="Team">What's Hot?</a>
      </li>
      <li>
        <a href="@routes.HomeController.myItems()" data-title="Diary">My Items</a>
      </li>
      <li>
        <a href="@routes.HomeController.myOutfits()" data-title="Timeline">My Outfits</a>
      </li>
      <li>
        <a href="@routes.HomeController.search()" data-title="Settings">Search</a>
      </li>
      <li>
      <form>
      <input class="outfitname" type="text" name="outfitname" placeholder="Outfit Name"><br>
      </form>
      </li>
      <li>
        <a href="#"><img class="mt-2 mb-2" src="@routes.Assets.versioned("images/hatslot.jpg")"  width="80"></a>
      </li>
      <li>
        <a href="#"><img class="mt-2 mb-2" src="@routes.Assets.versioned("images/shirtslot.jpg")"  width="80"></a>
      </li>
      <li>
        <a href="#"><img  class="mt-2 mb-2"src="@routes.Assets.versioned("images/pantsslot.jpg")" width="80"></a>
      </li>
      <li>
        <a href="#"><img class="mt-2 mb-2" src="@routes.Assets.versioned("images/shoeslot.jpg")"  width="80"></a>
      </li>
       <li>
      <button type="button" class="btn btn-success">Save</button>
      </li>

    </ul>
  </nav>