  <nav>
   
    <ul>
      <li>
        <a href="@routes.HomeController.goMainPage()" data-title="Projects">Home</a>
      </li>
      <li>
        <a href="@routes.HomeController.getInspired()" data-title="Projects">Get Inspired!</a>
      </li>
      <li>
        <a href="@routes.HomeController.recommend()" data-title="Team">Recommended</a>
      </li>
      <li>
        <a href="@routes.HomeController.myItems()" data-title="Diary">My Items</a>
      </li>
      <li>
        <a href="@routes.HomeController.myOutfits()" data-title="Timeline">My Outfits</a>
      </li>
      <li>
        <a href="@routes.HomeController.search()" data-title="Settings">Search</a>
      </li>

    </ul>
  </nav>