@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@


 <span class="bckg"></span>
<header>

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mainPage.css")">
  <h1>Ulook</h1>
  @navigator()
</header>
<main>

  <div class="title">
    <h2>Recommended</h2>

    <a href="javascript:void(0);">Sign in</a>
  </div>

  <article class="larg">
      <form class="search" action="">
<input type="search" placeholder="Search here..." required>
<button type="submit">Search</button>
</form>
    <div>
      <h3><img src="@routes.Assets.versioned("images/man1.png")"width="140" height="200">price:240$ gender:man<span class="entypo-down-open"></span></h3>
      <p>xxx.</p>
    </div>
    <div>
      <h3><img src="@routes.Assets.versioned("images/man2.png")"width="140" height="200">price:220$ gender:man<span class="entypo-down-open"></span></h3>
      <p>xxx.</p>
    </div>
    <div>
      <h3><img src="@routes.Assets.versioned("images/women1.png")"width="140" height="200">price:240$ gender:woman<span class="entypo-down-open"></span></h3>
      <p>xxx.</p>
    </div>
  </article>
</main>