@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@()

<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/SignUp.css")" rel='stylesheet' type='text/css' />
		
</head>
 
<body>
	<div class="main">

				 <div class="inset">
				 	<div class="social-icons">
		    			 <div class="span"><a href="#"><img src="@routes.Assets.versioned("images/fb.png")" alt=""/><i>Connect with Facebook </i><div class="clear"></div></a></div>	
    					 <div class="span1"><a href="#"><img src="@routes.Assets.versioned("images/t-bird.png")" alt=""/><i>Connect with Twitter</i><div class="clear"></div></a></div>
    					 <div class="clear"></div>
					</div>
				 </div>	
				 <h2>Or sign up with</h2>
				 <form>
							<div class="lable">
		                     	<input type="text" class="text" value="UserName" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Name';}" >

		                     
		                    </div>
		                    <div class="clear"> </div>
		                    <div class="lable-2">
		                    <input type="text" class="text" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
		                   
							</div>
							<div class="clear"> </div>
							
								 <div class="submit">
									<input type="submit" onclick="myFunction()" value="Create account" >
									<input type="submit" onclick="myFunction()" value="Cancel" >
								</div>
									<div class="clear"> </div>
									
							 </form>
	
	 
</body>
</html>